/* CSS by Mario Caiti for GIT 337 */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET per prior classes is below */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end css reset    */

/* ROOT VARIABLES */

:root {
  --font-family: 'Playfair Display', serif;
  --midnight-blue: #1F2A44;
  --olive-green: #76885B;
  --champagne-gold: #E5C185;
  --linen: #F8F4EC;
  --dark-charcoal: #2B2B2B;
  --soft-white: #FAF9F6;
}

/* GLOBAL STYLES (mobile first/small) */
body {
  font-family: var(--font-family);
  background-color: var(--linen);
  color: var(--dark-charcoal);
  font-size: 1rem;
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family);
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
p {
  font-size: 0.8rem;
}
header {
  background-color: var(--midnight-blue);
  color: var(--linen);
  padding: 1rem;
  text-align: center;
}
header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
.headline {
  font-style: italic;
}
header ul {
  width: 100vw;
  background-color: var(--champagne-gold);
  color: #000;
  font-size: 1.4rem;
  font-weight: bold;
  list-style: none;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.logo {
  height: 28vh;
  width: auto;
}
section {
  margin: 1rem;
  padding: 1rem;
  background-color: var(--soft-white);
  border-radius: 0.5rem;
}
.provision1, .provision2, .provision3 {
    background-color: var(--olive-green);
    color: var(--linen);
    width: 80vw;
    margin: 1rem 0.1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}
.provision3 ul {
    font-size: 0.8rem;
    list-style: circle;
    padding: 1rem;
}
picture {
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--soft-white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
picture img {
    width: 100%;
    height: auto;
}
.pictureLabel {
    text-align: center;
    font-size: 1rem;
    color: var(--dark-charcoal);
    margin: 0.5rem 0;
    font-style: italic;
}
.galleryButton {
    width: 87vw;
    background-color: var(--olive-green);
    color: var(--linen);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
}
footer {
    background-color: var(--midnight-blue);
    color: var(--linen);
    padding: 1rem;
    text-align: center;
}
.contacts, .socials {
    color: var(--champagne-gold);

    text-decoration: none;
}
/* MEDIA QUERY (medium) simulate iPad Mini via Inspect */
@media screen and (min-width: 600px) {
  .headline {
    font-style: italic;
  }
  header ul {
    width: 100vw;
    background-color: var(--champagne-gold);
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    list-style: none;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
  }
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0.1rem;
    margin: 0.1rem;
    padding: 1rem;
    align-items: center;
  }
  .offeringsHeadline {
    grid-column: 1 / 3;
    grid-row: 1;
    font-size: 2rem;
    color: var(--midnight-blue);
    padding: 0.5rem;
  }
  .provision1 {
    grid-column: 1;
    grid-row: 2;
    width: 41vw;
    height: 35vh;
    padding: 0.8rem;
  }
  .provision2 {
    grid-column: 2;
    grid-row: 2;
    width: 41vw;
    height: 35vh;
    padding: 0.8rem;
  }
  .provision3 {
    grid-column: 1 / 3;
    grid-row: 3;
    width: 88.6vw;
    height: auto;
    padding: 0.8rem;
  }
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    margin: 1.5rem;
  }
  .galleryHeadline {
    grid-column: 1 / 3;
    grid-row: 1;
    font-size: 2rem;
    color: var(--midnight-blue);
  }
  .galleryIntro {
    grid-column: 1 / 3;
    grid-row: 2;
    color: var(--midnight-blue);
  }
  .pictureContainer {
    height: auto;
    width: 40vw;
    margin: 0.5rem;
    border-radius: 0.5rem;
  }
  .pictureLabel {
    display: block;
    font-size: 1rem;
    color: var(--dark-charcoal);
    font-style: italic;
    text-align: center;
  }
  .galleryButton {
    grid-column: 1 / 3;
    grid-row: 6;
    width: 88vw;
    background-color: var(--olive-green);
    color: var(--linen);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
  }
  footer {
      background-color: var(--midnight-blue);
      color: var(--linen);
      padding: 1rem;
      text-align: center;
  }
  .contacts, .socials {
      color: var(--champagne-gold);

      text-decoration: none;
  }
}
/* MEDIA QUERY (large) simulate w iPad Air or NestHub via Inspect */
@media screen and (min-width: 900px) {
  .headline {
    font-style: italic;
  }
  header ul {
    width: 100vw;
    background-color: var(--champagne-gold);
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    list-style: none;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
  }
  .about {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0.5rem;
    margin: 0.5rem;
    padding: 0.1rem;
    align-items: center;
  }
  .offeringsHeadline {
    grid-column: 1 / 3;
    grid-row: 1;
    font-size: 2rem;
    color: var(--midnight-blue);
  }
  .provision1 {
    grid-column: 1;
    grid-row: 2;
    width: 38vw;
    height: 17vh;
    padding: 1rem;
  }
  .provision2 {
    grid-column: 2;
    grid-row: 2;
    width: 38vw;
    height: 17vh;
    padding: 1rem;
  }
  .provision3 {
    grid-column: 1 / 3;
    grid-row: 3;
    width: 80.5vw;
    height: auto;
    padding: 0.8rem;
  }
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    margin: 1.5rem;
  }
  .galleryHeadline {
    grid-column: 1 / 4;
    grid-row: 1;
    font-size: 2rem;
    color: var(--midnight-blue);
  }
  .galleryIntro {
    grid-column: 1 / 4;
    grid-row: 2;
    color: var(--midnight-blue);
  }
  .pictureContainer {
    height: auto;
    width: 100%;
    margin: 0.5rem;
    border-radius: 0.5rem;
  }
  .pictureLabel {
    font-size: 1.1rem;
    color: var(--dark-charcoal);
    font-style: italic;
    text-align: center;
  }
}
/* MEDIA QUERY (xl) */
@media screen and (min-width: 1200px) {
  header ul {
    width: 100vw;
    background-color: var(--champagne-gold);
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    list-style: none;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    gap: 10rem;
  }
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    align-items: center;
    padding: 2rem;
  }
  .offeringsHeadline {
    grid-column: 1 / 3;
    grid-row: 1;
    font-size: 2rem;
    color: var(--midnight-blue);
  }
  .provision1 {
    grid-column: 1;
    grid-row: 2;
    height: 20vh;
    width: 39.2vw;
    padding: 1rem;
  }
  .provision2 {
    grid-column: 2;
    grid-row: 2;
    height: 20vh;
    width: 39.2vw;
    padding: 1rem;
  }
  .provision3 {
    grid-column: 1 / 3;
    grid-row: 3;
    width: 83vw;
  }
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0.5rem;
    margin: 0.5rem;
  }
  .galleryHeadline {
    grid-column: 1 / 6;
    grid-row: 1;
    font-size: 2rem;
    color: var(--midnight-blue);
  }
  .galleryIntro {
    grid-column: 1 / 6;
    grid-row: 2;
    color: var(--midnight-blue);
  }
  .pictureContainer {
    height: auto;
    width: 15vw;
    margin: 0.5rem;
    border-radius: 0.5rem;
  }
  .pictureLabel {
    font-size: 1.1rem;
    color: var(--dark-charcoal);
    font-style: italic;
    text-align: center;
  }
  .galleryButton {
    grid-column: 1 / 6;
    grid-row: 4;
    width: 88vw;
    background-color: var(--olive-green);
    color: var(--linen);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
  }
  footer {
      background-color: var(--midnight-blue);
      color: var(--linen);
      padding: 1rem;
      text-align: center;
  }
  .contacts, .socials {
      color: var(--champagne-gold);

      text-decoration: none;
  }
}